div {
    color: white;
}
.detail-container {
    display: grid;
    grid-template-rows: 600px auto;
}

.detail-bk {
    background-position: center;
    padding: 0px 50px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.detail-bk::before {
    content: '';
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent); /* 불투명도를 0.8로 설정 */
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.detail-bk > * {
    position: relative;
    z-index: 2;
}
.detail-bk > div {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.detail-poster {
    width: 1200px;
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 40px;
    justify-content: center;
    margin: 0 auto;
}

.detail-poster img {
    width: 300px;
    box-sizing: border-box;
}
.detail-right {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}
.movie-overview {
    font-size: 1.2em;
    word-break: keep-all;
    padding: 2rem 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.movie_vote_average {
    text-align: center;
    font-size: 1.2em;
    padding: 2rem 0;
}

@media (max-width: 768px) {
    .detail-bk {
        background-image: none; /* 백그라운드 제거 */
        padding: 20px; /* 패딩 조정 */
        justify-content: flex-start; /* 상단 정렬 */
    }
    .detail-bk .div {
        width: 100%;
    }
    .detail-container {
        display: flex;
        flex-direction: column; /* 세로 정렬 */
    }

    .detail-poster {
        width: 100%;
        display: flex; /* 기본 flex로 변경 */
        flex-direction: row; /* 가로 정렬로 변경 */
        justify-content: center; /* 중앙 정렬 */
        flex-wrap: wrap; /* 줄 바꿈 허용 */
    }

    .detail-poster img {
        width: 100%; /* 이미지 너비 100% */
        margin-bottom: 20px; /* 아래 여백 추가 */
    }

    .detail-right {
        width: 100%; /* 오른쪽 영역 너비 100% */
        display: flex;
        flex-direction: column; /* 세로 정렬 */
        align-items: center; /* 중앙 정렬 */
    }

    .movie-overview,
    .movie_vote_average {
        width: 100%; /* 너비 100% */
        text-align: center; /* 중앙 정렬 */
        padding: 1rem 0; /* 패딩 조정 */
    }
}
