.movie-card {
    width: 220px;
    height: 330px;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}

.movie-card:hover {
    transform: scale(1.3) translateZ(20px);
    z-index: 2;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 0.5rem;
    overflow-wrap: break-word;
}

.overlay:hover {
    opacity: 1;
}

.overlay > h1 {
    font-size: 2rem;
    word-break: keep-all;
}

.card-sub-txt {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    font-size: 1rem;
}
